# .gitignore

# Virtual environments
venv/
env/
ENV/
virtualenv/
.venv/

# Environment variables
.env
.env.local
.env.prod
.env.production
.env.dev
.env.development

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Celery
celerybeat-schedule
celerybeat.pid

# PyCharm
.idea/
*.iws
*.iml
*.ipr

# VSCode
.vscode/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Commit message
commit_message.txt

# Heroku
setup_heroku_env.sh